<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
    <div id="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    
    <main>
    <%- body %> <!-- This is where your index.ejs content will be injected -->
    </main>

    <%- include('../partials/footer')  %>
    </div> 
</body>
</html>